body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../img/Background.jpg'); /* Ruta de la imagen */
    background-size: cover; /* Cubrir toda la página */
    background-attachment: fixed; /* Fijar la imagen al fondo */
    background-position: center; /* Centrar la imagen */
    background-repeat: no-repeat; /* No repetir la imagen */
    color: #fff; /* Texto blanco para contraste */
}

.navbar {
    background-color: #000000;
}

.nav-link {
    color: #e61212 !important;
}
.nav-link:hover {
    color: #17c445 !important; /* Links en rojo claro al pasar el cursor */
}

.jumbotron {
    background: none; /* Quitar fondo de la jumbotron */
    color: #fff; /* Texto blanco para contraste */
    height: 100vh; /* Altura completa de la ventana */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1, h2 {
    color: #007bff;
}

.card {
    margin-bottom: 20px;
}

#contacto .btn-info, #contacto .btn-success {
    margin: 5px;
}
