body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../img/Background.jpg'); /* Ruta de la imagen */
    background-size: cover; /* Cubrir toda la página */
    background-attachment: fixed; /* Fijar la imagen al fondo */
    background-position: center; /* Centrar la imagen */
    background-repeat: no-repeat; /* No repetir la imagen */
    color: #5f6cfd; /* Texto blanco para contraste */
}

.navbar {
    background-color: #000000;
}

.nav-link {
    color: #858ef6 !important;
}
.nav-link:hover {
    color: #17c445 !important; /* Links en rojo claro al pasar el cursor */
}

.jumbotron {
    background: none; /* Quitar fondo de la jumbotron */
    color: #fff; /* Texto blanco para contraste */
    height: 100vh; /* Altura completa de la ventana */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1, h2 {
    color: #007bff;
}

.card {
    margin-bottom: 20px;
}

#contacto .btn-info, #contacto .btn-success {
    margin: 5px;
}

/* Destacado para el texto de "Experiencia" */
.experiencia {
    border: 2px solid #007bff; /* Borde azul */
    background-color: #f0f8ff; /* Fondo azul claro */
    padding: 10px; /* Espaciado interno */
    margin: 20px 0; /* Espaciado externo */
    border-radius: 5px; /* Bordes redondeados */
    font-weight: bold; /* Texto en negrita */
    color: #000000; /* Color del texto */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra sutil */
}